// Import Bulma's core
// @import "~bulma/sass/utilities/_all";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

//Google fonts
@import "https://fonts.googleapis.com/css?family=Open+Sans:ital,300,400,600,700,800&display=swap";

//Variables
$open-sans: 'Open Sans', sans-serif;
$color-primary-dark: #262626;
$color-font-footer: #454545;
$yellow: #fab800;
$blue-dark: #005368;

body, h2 {
  font-family: $open-sans;
}

//-----------------------------------------------------------
// Welcome seection
//-----------------------------------------------------------
.welcome{
    background-color: $color-primary-dark;
    .header{
        padding: 1rem 1.5rem;
        background-color: #222;
    }
    .header-separator{
        padding: 1rem 1.5rem;
        background-color: #00b0b9;
    }
    .banner{
        border-bottom: 2px solid #565656;
        .title{
            font-size: 41pt;
            font-weight: 800;
        }
        .subtitle{
            font-size: 25pt;
            font-weight: 800;
        }
    }
    .banner-service-separator{
        padding: 1rem 1.5rem;
        background-color: $yellow;
    }
    .banner-info{
        .is-parent{
            article.is-child{
                background-color: #FFF;
                margin-right: 2px !important;
                margin-bottom: 15px !important;
                .container{
                    max-width: none;
                    width: 200px;
                    .title{
                        font-weight: 800;
                    }
                    .button-info{
                        border: 4px solid #d7a931;
                        border-radius: 40px;
                        padding: 10px;
                        margin: -13px 0 13px 0;
                        .button-info-content{
                            background: #00A2B5;
                            background: -moz-linear-gradient(left, #00A2B5 0%, #00778C 50%, #00566B 100%);
                            background: -webkit-linear-gradient(left, #00A2B5 0%, #00778C 50%, #00566B 100%);
                            background: linear-gradient(to right, #00A2B5 0%, #00778C 50%, #00566B 100%);
                            color: #FFF;
                            font-style: italic;
                            display: block;
                            width: 100%;
                            border-radius: 40px;
                            padding: 5px 10px;
                        }
                        .button-info-content:hover{
                            font-style: normal;
                            font-weight: bold;
                            background: #00566B;
                            background: -moz-linear-gradient(left, #00566B 0%, #00778C 50%, #00A2B5 100%);
                            background: -webkit-linear-gradient(left, #00566B 0%, #00778C 50%, #00A2B5 100%);
                            background: linear-gradient(to right, #00566B 0%, #00778C 50%, #00A2B5 100%);
                        }
                    }
                }
            }
            article.is-child:nth-child(1){
                margin-right: 7.5px !important;
            }
            article.is-child:nth-child(2){
                margin-left: 7.5px !important;
            }
        }
    }
}
//-----------------------------------------------------------
// Footer seection
//-----------------------------------------------------------
.footer{
    background-color: #222;
    color: $color-font-footer;
    a{
        color: $color-font-footer;
        text-decoration: underline;
    }
}
.footer.application{
    border-top: 5px solid $yellow;
}

//-----------------------------------------------------------
// Application seection
//-----------------------------------------------------------
.application{
    .header{
        background-color: $blue-dark;
        border-bottom: 5px solid $yellow;
        .content-icon-user{
            padding: 8px 0px;
            border: 5px solid $yellow;
            border-radius: 50%;
        }
    }
}
//-----------------------------------------------------------
// Responsive seection
//-----------------------------------------------------------
@media(max-width: 768px)
{
    .welcome{
        .banner{
            .title{
                font-size: 28pt;
            }
            .subtitle{
                font-size: 19pt;
            }
        }
        .banner-info{
            .is-parent{
                article.is-child{
                    .container.is-pulled-right{
                           float: none !important;
                    }
                }
                article.is-child:nth-child(1){
                    margin-right: 0 !important;
                }
                article.is-child:nth-child(2){
                    margin-left: 0 !important;
                }
            }
        }
        .banner-donation{
            h2{
                font-size: 20pt !important;
            }
        }
    }

    .footer{
        .columns{
            .column.is-two-fifths{
                padding: 0;
                .column{
                    padding-top: 0;
                }
            }
        }
    }
}
